@import "./colors";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 40px;
  color: $secondary;
  background-color: #171717;
  z-index: 10;
  a {
    font-weight: bold;
    &:hover {
      filter: brightness(1.5);
    }
  }
}
