@import "./colors";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 6px 40px;
  background-color: #fdfefe;
  border-bottom: 1px dotted $primary;
  color: $primary;
  z-index: 10;
  a {
    &:hover {
      filter: brightness(1.5);
    }
  }
}
