@import "./colors";

.searchBar {
  .inputField {
    border: 1px solid #313131;
    padding: 6px 5px 6px 12px;
    margin-right: 4px;
    position: relative;
    display: inline-block;
    background-color: #2d2d2d;

    input {
      background-color: transparent;
      font-size: 16px;
      border-radius: 4px;
      outline: none;
      padding: 0;
      border: none;
      margin-right: 18px;
      color: rgba($color: #757575, $alpha: 0.9);
    }
    .clearInput {
      position: absolute;
      top: 50%;
      right: 4px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transform: translateY(-50%);
    }
  }

  .searchButton {
    background-color: #2d2d2d;
    border: 1px solid #313131;
    color: $primary;
    border-radius: 4px;
    padding: 9px 10px 7px 10px;
    cursor: pointer;
    transition: all 100ms ease-in;
    &:hover {
      filter: brightness(1.5);
    }
  }
}
