@import "./colors";

.searchBar {
  .inputField {
    border: 1px solid $primary;
    padding: 2px 5px 3px 10px;
    margin-right: 10px;
    position: relative;
    display: inline-block;

    input {
      background-color: transparent;
      font-size: 14px;
      border-radius: 4px;
      outline: none;
      padding: 0;
      border: none;
      margin-right: 18px;
    }
    .clearInput {
      position: absolute;
      top: 50%;
      right: 4px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transform: translateY(-50%);
    }
  }

  .searchButton {
    font-size: 14px;
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
    border-radius: 4px;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 100ms ease-in;
    &:hover {
      border-color: $light-green;
      color: $light-green;
      box-shadow: 0 0 10px 2px rgba($color: $light-green, $alpha: 0.05);
    }
  }
}
